#calculator {
  margin: auto;
  background-color: #CFD8DC;
  font-size: 1.5em;
}

#calculator tr,
#screen-input,
.btn {
  width: 100%;
  height: 100%;
}

.btn:hover {
  color: #fff;
  background-color: #546E7A;
}

#screen-input {
  text-align: right;
}